<body>
    
    <aside>
        <figure>
            <img class= "image profilePicture" src="assets/images/profile_picture.jpg" alt="Picture of Jared Hawley">
            <figcaption>Jared Hawley</figcaption>
        </figure>
        <img class="image menuButton" src="assets/images/menu-black.svg" alt="Menu Button" (click)=this.toggleMenu()>
        <nav>
            <ul>
                <li class="hvr-forward"><a routerLink="">Home</a></li>
                <li class="hvr-forward"><a routerLink="/resume">Resume</a></li>
                <li class="hvr-forward"><a routerLink="/coverletter">Cover Letter</a></li>
                <li class="hvr-forward"><a routerLink="/readinglist">Reading List</a></li>
                <li class="hvr-forward"><a routerLink="/contact">Contact</a></li>
            </ul>
        </nav>
    </aside>
    <main>  
        <router-outlet></router-outlet> 
    </main>

</body>