<body>
  <h1>Books I've Read & Recommend...</h1>
  <ul>
    <li><a target="_blank"
        href="https://www.amazon.com/Habits-Highly-Effective-People-Powerful/dp/B0006IU4C0/ref=tmm_aud_swatch_0?_encoding=UTF8&qid=1548700416&sr=8-3">
        7 Habits of Highly Effective People, <i>Stephen R. Covey</i></a></li>
    <li><a target="_blank"
        href="https://www.amazon.com/Tipping-Point-Little-Things-Difference/dp/B000OYD8T2/ref=sr_1_1?ie=UTF8&qid=1548700421&sr=8-1&keywords=the+tipping+point">
        The Tipping Point, <i>Malcom Gladwell</i></a></li>
    <li><a target="_blank"
        href="https://www.amazon.com/Obstacle-Way-Timeless-Turning-Triumph/dp/B00K5JUNSU/ref=sr_1_3?ie=UTF8&qid=1548700439&sr=8-3&keywords=the+obstacle+is+the+way">
        The Obstacle is the Way, <i>Ryan Holiday</i></a></li>
    <li><a target="_blank"
        href="https://www.amazon.com/Power-Habit-What-Life-Business/dp/B007EJSMC8/ref=sr_1_2?ie=UTF8&qid=1548700480&sr=8-2&keywords=The+power+of+habit">
        The Power of Habit, <i>Charles Duhigg</i></a></li>
    <li><a target="_blank"
        href="https://www.amazon.com/Deep-Work-Focused-Success-Distracted/dp/B0189PVAWY/ref=sr_1_1?ie=UTF8&qid=1548700603&sr=8-1&keywords=deep+work">
        Deep Work, <i>Cal Newport</i></a></li>
    <li><a target="_blank"
        href="https://www.amazon.com/Creativity-Inc-Overcoming-Unseen-Inspiration/dp/B00IPJTQQW/ref=tmm_aud_swatch_0?_encoding=UTF8&qid=&sr=">
        Creativity Inc., <i>Ed Catmull</i></a></li>
    <li><a target="_blank"
        href="https://www.amazon.com/Meditations-New-Translation-Marcus-Aurelius/dp/0812968255/ref=sr_1_3?ie=UTF8&qid=1548700506&sr=8-3&keywords=meditations+marcus+aurelius">
        Meditations, <i>Marcus Aurelius</i></a></li>
  </ul>

  <div id="gr">
    <div id="gr_grid_widget_1560956282">
      <!-- Show static html as a placeholder in case js is not enabled - javascript include will override this if things work -->
      <h2>
        <a style="text-decoration: none;" rel="nofollow"
          href="https://www.goodreads.com/review/list/49313323-jared-hawley?shelf=read&utm_medium=api&utm_source=grid_widget">Goodreads Reading List</a>
      </h2>
      <div class="gr_grid_container">
        <div class="gr_grid_book_container"><a title="How to Stop Worrying and Start Living" rel="nofollow"
            href="https://www.goodreads.com/book/show/4866.How_to_Stop_Worrying_and_Start_Living"><img
              alt="How to Stop Worrying and Start Living" 
              src="https://images.gr-assets.com/books/1442129098s/4866.jpg" /></a></div>
        <div class="gr_grid_book_container"><a
            title="United: Thoughts on Finding Common Ground and Advancing the Common Good" rel="nofollow"
            href="https://www.goodreads.com/book/show/25775926-united"><img
              alt="United: Thoughts on Finding Common Ground and Advancing the Common Good" 
              src="https://images.gr-assets.com/books/1454880993s/25775926.jpg" /></a></div>
        <div class="gr_grid_book_container"><a
            title="Make Your Bed: Little Things That Can Change Your Life...And Maybe the World" rel="nofollow"
            href="https://www.goodreads.com/book/show/31423133-make-your-bed"><img
              alt="Make Your Bed: Little Things That Can Change Your Life...And Maybe the World" 
              src="https://images.gr-assets.com/books/1495769497s/31423133.jpg" /></a></div>
        <div class="gr_grid_book_container"><a title="Mythology" rel="nofollow"
            href="https://www.goodreads.com/book/show/23522.Mythology"><img alt="Mythology" 
              src="https://images.gr-assets.com/books/1305000423s/23522.jpg" /></a></div>
        <div class="gr_grid_book_container"><a title="Deep Work: Rules for Focused Success in a Distracted World"
            rel="nofollow" href="https://www.goodreads.com/book/show/25744928-deep-work"><img
              alt="Deep Work: Rules for Focused Success in a Distracted World" 
              src="https://images.gr-assets.com/books/1447957962s/25744928.jpg" /></a></div>
        <div class="gr_grid_book_container"><a title="12 Rules for Life: An Antidote to Chaos" rel="nofollow"
            href="https://www.goodreads.com/book/show/30257963-12-rules-for-life"><img
              alt="12 Rules for Life: An Antidote to Chaos" 
              src="https://images.gr-assets.com/books/1512705866s/30257963.jpg" /></a></div>
        <div class="gr_grid_book_container"><a title="The Power of Habit: Why We Do What We Do in Life and Business"
            rel="nofollow" href="https://www.goodreads.com/book/show/12609433-the-power-of-habit"><img
              alt="The Power of Habit: Why We Do What We Do in Life and Business" 
              src="https://images.gr-assets.com/books/1545854312s/12609433.jpg" /></a></div>
        <div class="gr_grid_book_container"><a title="Ego Is the Enemy" rel="nofollow"
            href="https://www.goodreads.com/book/show/27036528-ego-is-the-enemy"><img alt="Ego Is the Enemy" 
              src="https://images.gr-assets.com/books/1459114043s/27036528.jpg" /></a></div>
        <div class="gr_grid_book_container"><a
            title="The Obstacle Is the Way: The Timeless Art of Turning Trials into Triumph" rel="nofollow"
            href="https://www.goodreads.com/book/show/18668059-the-obstacle-is-the-way"><img
              alt="The Obstacle Is the Way: The Timeless Art of Turning Trials into Triumph" 
              src="https://images.gr-assets.com/books/1391440316s/18668059.jpg" /></a></div>
        <div class="gr_grid_book_container"><a title="The Tipping Point: How Little Things Can Make a Big Difference"
            rel="nofollow" href="https://www.goodreads.com/book/show/2612.The_Tipping_Point"><img
              alt="The Tipping Point: How Little Things Can Make a Big Difference" 
              src="https://images.gr-assets.com/books/1473396980s/2612.jpg" /></a></div>
        <div class="gr_grid_book_container"><a
            title="The 7 Habits of Highly Effective People: Powerful Lessons in Personal Change" rel="nofollow"
            href="https://www.goodreads.com/book/show/36072.The_7_Habits_of_Highly_Effective_People"><img
              alt="The 7 Habits of Highly Effective People: Powerful Lessons in Personal Change" 
              src="https://images.gr-assets.com/books/1421842784s/36072.jpg" /></a></div>
        <div class="gr_grid_book_container"><a title="Six Pillars of Self-Esteem" rel="nofollow"
            href="https://www.goodreads.com/book/show/79352.Six_Pillars_of_Self_Esteem"><img
              alt="Six Pillars of Self-Esteem" 
              src="https://images.gr-assets.com/books/1385165387s/79352.jpg" /></a></div>
        <div class="gr_grid_book_container"><a
            title="Authentic Happiness: Using the New Positive Psychology to Realize Your Potential for Lasting Fulfillment"
            rel="nofollow" href="https://www.goodreads.com/book/show/28012.Authentic_Happiness"><img
              alt="Authentic Happiness: Using the New Positive Psychology to Realize Your Potential for Lasting Fulfillment"
              src="https://images.gr-assets.com/books/1432220077s/28012.jpg" /></a></div>
        <div class="gr_grid_book_container"><a title="Man's Search for Meaning" rel="nofollow"
            href="https://www.goodreads.com/book/show/4069.Man_s_Search_for_Meaning"><img alt="Man's Search for Meaning"
              src="https://images.gr-assets.com/books/1535419394s/4069.jpg" /></a></div>
        <div class="gr_grid_book_container"><a title="Just Mercy: A Story of Justice and Redemption" rel="nofollow"
            href="https://www.goodreads.com/book/show/20342617-just-mercy"><img
              alt="Just Mercy: A Story of Justice and Redemption" 
              src="https://images.gr-assets.com/books/1420795201s/20342617.jpg" /></a></div>
        <div class="gr_grid_book_container"><a title="The Girl on the Train" rel="nofollow"
            href="https://www.goodreads.com/book/show/22557272-the-girl-on-the-train"><img alt="The Girl on the Train"
              src="https://images.gr-assets.com/books/1490903702s/22557272.jpg" /></a></div>
        <div class="gr_grid_book_container"><a
            title="Creativity, Inc.: Overcoming the Unseen Forces That Stand in the Way of True Inspiration"
            rel="nofollow" href="https://www.goodreads.com/book/show/18077903-creativity-inc"><img
              alt="Creativity, Inc.: Overcoming the Unseen Forces That Stand in the Way of True Inspiration" 
              src="https://images.gr-assets.com/books/1400863577s/18077903.jpg" /></a></div>
        <div class="gr_grid_book_container"><a title="The Art of Learning: A Journey in the Pursuit of Excellence"
            rel="nofollow" href="https://www.goodreads.com/book/show/857333.The_Art_of_Learning"><img
              alt="The Art of Learning: A Journey in the Pursuit of Excellence" 
              src="https://images.gr-assets.com/books/1348688766s/857333.jpg" /></a></div>
        <div class="gr_grid_book_container"><a title="The Death Cure (The Maze Runner, #3)" rel="nofollow"
            href="https://www.goodreads.com/book/show/7864437-the-death-cure"><img alt="The Death Cure" 
              src="https://images.gr-assets.com/books/1303997647s/7864437.jpg" /></a></div>
        <div class="gr_grid_book_container"><a title="The Scorch Trials (The Maze Runner, #2)" rel="nofollow"
            href="https://www.goodreads.com/book/show/7631105-the-scorch-trials"><img alt="The Scorch Trials" 
              src="https://images.gr-assets.com/books/1388240248s/7631105.jpg" /></a></div>
        <br style="clear: both" /><br /><a class="gr_grid_branding"
          style="font-size: .9em; color: #382110; text-decoration: none; float: left; clear: both" rel="nofollow"
          href="https://www.goodreads.com/user/show/49313323-jared-hawley">Jared Hawley's favorite books »</a>
        <noscript><br />Share <a rel="nofollow" href="/">book reviews</a> and ratings with Jared, and even join a <a
            rel="nofollow" href="/group">book club</a> on Goodreads.</noscript>
      </div>

    </div>
    <script
      src="https://www.goodreads.com/review/grid_widget/49313323?cover_size=&hide_link=&hide_title=&num_books=20&order=&shelf=&sort=&widget_id=1560956282"
      type="text/javascript" charset="utf-8"></script>
  </div>
</body>