<body>
  <h1>Books I've Read & Recommend...</h1>
  <ul>
    <li><a target="_blank" href="https://www.amazon.com/Habits-Highly-Effective-People-Powerful/dp/B0006IU4C0/ref=tmm_aud_swatch_0?_encoding=UTF8&qid=1548700416&sr=8-3">
      7 Habits of Highly Effective People, <i>Stephen R. Covey</i></a></li>
    <li><a target="_blank" href="https://www.amazon.com/Tipping-Point-Little-Things-Difference/dp/B000OYD8T2/ref=sr_1_1?ie=UTF8&qid=1548700421&sr=8-1&keywords=the+tipping+point">
      The Tipping Point, <i>Malcom Gladwell</i></a></li>
    <li><a target="_blank" href="https://www.amazon.com/Obstacle-Way-Timeless-Turning-Triumph/dp/B00K5JUNSU/ref=sr_1_3?ie=UTF8&qid=1548700439&sr=8-3&keywords=the+obstacle+is+the+way">
      The Obstacle is the Way, <i>Ryan Holiday</i></a></li>
    <li><a target="_blank" href="https://www.amazon.com/Tim-Ferriss-Audio-Ego-Enemy/dp/B01GSIZ9EY/ref=tmm_aud_swatch_0?_encoding=UTF8&qid=1548700452&sr=8-2-spons">
      Ego is the Enemy, <i>Ryan Holiday</i></a></li>
    <li><a target="_blank" href="https://www.amazon.com/Power-Habit-What-Life-Business/dp/B007EJSMC8/ref=sr_1_2?ie=UTF8&qid=1548700480&sr=8-2&keywords=The+power+of+habit">
      The Power of Habit, <i>Charles Duhigg</i></a></li>
    <li><a target="_blank" href="https://www.amazon.com/12-Rules-Life-Antidote-Chaos/dp/B0797Y87JC/ref=sr_1_1?ie=UTF8&qid=1548700491&sr=8-1&keywords=12+rules+for+life">
      12 Rules for Life, <i>Jordan B. Peterson</i></a></li>
    <li><a target="_blank" href="https://www.amazon.com/Deep-Work-Focused-Success-Distracted/dp/B0189PVAWY/ref=sr_1_1?ie=UTF8&qid=1548700603&sr=8-1&keywords=deep+work">
      Deep Work, <i>Jeff Bottoms</i></a></li>
    <li><a target="_blank" href="https://www.amazon.com/Creativity-Inc-Overcoming-Unseen-Inspiration/dp/B00IPJTQQW/ref=tmm_aud_swatch_0?_encoding=UTF8&qid=&sr=">
      Creativity Inc., <i>Ed Catmull</i></a></li>
    <li><a target="_blank" href="https://www.amazon.com/Meditations-New-Translation-Marcus-Aurelius/dp/0812968255/ref=sr_1_3?ie=UTF8&qid=1548700506&sr=8-3&keywords=meditations+marcus+aurelius">
      Meditations, <i>Marcus Aurelius</i></a></li>
  </ul>
</body>