body {
    height: 100%;
    background: white url('./../../assets/images/bg.svg') no-repeat bottom right;
    background-size: 82%;
    filter: drop-shadow(8px 8px 5px rgba(0, 0, 0, 0.3));
    min-width: 312px;
}
/* Extra small mobile version */
h1 {
    font-size: 1.2em;
    margin: 0;
    padding: 2em 2em 0em 2em;
}
ul {
    margin: 0;
    padding-left: 3em;
    font-size: 1.05em;
}
li {
    padding: 0.6em;

}

#gr {
    padding-left: 2em;

}
.gr_grid_container {
    /* customize grid container div here. eg: width: 500px; */
    padding-left: 2em;
    padding-right: 15%;
    padding-bottom: 6em;
  }

.gr_grid_book_container {
/* customize book cover container div here */
float: left;
width: px;
height: 80px;
padding: 4px 4px;
overflow: hidden;
}
@media only screen and (min-width: 786px) {

    h1 {
        font-size: 1.8em;
        margin: 0;
    }
    
    ul {
        padding-top: 0.25em;
        padding-left: 5em;
        font-size: 1.25em;
    }
    
    li {
        padding: .6em;
    }
}